<div class="card text-bg-light text-center">
  <div class="card-header">Footer</div>
  <div class="card-body ">
    <h5 class="card-title">BÀI TẬP BUỔI 3</h5>
    <p class="card-text">Xem dữ liệu danh sách Sản phẩm: hiển thị list trên giao diện Web, sử dụng Bootstrap. Ở mỗi item Sản phẩm trên giao diện, có nút sửa, xóa thông tin.</p>
  </div>
</div>